.navbar {
  background-color: black;
  margin-bottom: 75px;
}
#loginbtn {
  margin-bottom: 50px;
}
.googlebtn {
  text-decoration: none;
}
.googlebtn:hover{
  text-decoration: none;
  cursor: pointer;
}
